header {
  text-align: center;
  font-size: 4em;
}

span.night_toggle {
  float: right;
  margin-right: 20px;
}

.content_wrapper {
  margin-top: 50px;
  margin-left: 100px;
}

.projects_wrapper {
  margin-top: 50px;
  margin-left: 70px;
}

.list_wrapper {
  margin-left: 70px;
}

.big_title {
  font-size: 3em;
  margin-left: 100px;
}

.small_title {
  font-size: 2em;
  margin-left: 100px;
}

.small_emoji {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 10px;
}

img.alt {
  font-size: 1px;
}